<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Audit Project
        </div>
        <div class="card-body">
          <div class="d-flex flex-row flex-nowrap overflow-auto">
            <table class="table table-bordered table-striped table-sm">
              <thead>
                <tr>
                  <th width="20">No</th>
                  <th width="50">SO</th>
                  <th width="100">CLIENT</th>
                  <th width="500">PROJECT NAME</th>
                  <th width="100">APPLICATION</th>
                  <th width="100">YEAR</th>
                  <th width="150">PROJECT</th>
                  <th width="150">MODE</th>
                  <th width="250">ORDER TYPE</th>
                  <th width="150">STATUS</th>
                  <th width="200">DEVELOPMENT</th>
                  <th width="200">MAINTENANCE</th>
                  <th width="500">SUMMARY</th>
                  <th width="100">KPI</th>
                  <th width="100">ACTION</th>
                </tr>
                <tr>
                  <th></th>
                  <th><input type="text" class="form-control" placeholder="SO" /></th>
                  <th><input type="text" class="form-control" placeholder="CLIENT" /></th>
                  <th><input type="text" class="form-control" placeholder="PROJECT NAME" /></th>
                  <th><input type="text" class="form-control" placeholder="APPLICATION" /></th>
                  <th><input type="text" class="form-control" placeholder="YEAR" /></th>
                  <th><input type="text" class="form-control" placeholder="PROJECT" /></th>
                  <th><input type="text" class="form-control" placeholder="MODE" /></th>
                  <th><input type="text" class="form-control" placeholder="ORDER TYPE" /></th>
                  <th><input type="text" class="form-control" placeholder="STATUS" /></th>
                  <th><input type="text" class="form-control" placeholder="DEVELOPMENT" /></th>
                  <th><input type="text" class="form-control" placeholder="MAINTENANCE" /></th>
                  <th><input type="text" class="form-control" placeholder="SUMMARY" /></th>
                  <th><input type="text" class="form-control" placeholder="KPI" /></th>
                  <th></th>
                </tr>
              </thead>
              <tbody *ngFor="let item of Data_audit_project; index as i;">
                <tr>
                  <td>{{i+1}}</td>
                  <td>{{item.so}}</td>
                  <td>{{item.client}}</td>
                  <td>{{item.projectName}}</td>
                  <td>{{item.application}}</td>
                  <td>{{item.year}}</td>
                  <td>{{item.project}}</td>
                  <td>{{item.mode}}</td>
                  <td>{{item.orderType}}</td>
                  <td>{{item.status}}</td>
                  <td>{{item.development}}</td>
                  <td>{{item.maintenance}}</td>
                  <td>{{item.summary}}</td>
                  <td>{{item.kpi}}</td>
                  <td>
                    <button class="btn btn-info btn-sm" (click)="Showdetail(item)">{{item.show_detail ? "close" : "Detail"}}</button>
                  </td>
                </tr>
                <tr *ngIf="item.show_detail">
                  <td colspan="15">
                    <div class="card">
                      <div class="card-header">
                        Detail
                        <div class="card-header-actions">
                          <span class="btn badge badge-success" (click)="Showdetail(item)">Close</span>
                        </div>
                      </div>
                      <div class="card-body">
                        <table class="table table-bordered table-striped table-sm" *ngIf="item.project == 'DEVELOPMENT'">
                          <thead>
                            <tr>
                              <th width="50">APP</th>
                              <th width="50">DB*</th>
                              <th width="50">[CONTRACT]</th>
                              <th width="50">[BRD]</th>
                              <th width="50">[Proposal]</th>
                              <th width="50">[PP]</th>
                              <th width="50">[FSD]*</th>
                              <th width="50">[DEV]*</th>
                              <th width="50">[MoM]</th>
                              <th width="50">(UAT)*</th>
                              <th width="50">(RTM)</th>
                              <th width="50">[Config]*</th>
                              <th width="50">[Manual]</th>
                              <th width="50">[BAST]*</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{item.detail.app}}</td>
                              <td>{{item.detail.db}}</td>
                              <td>{{item.detail.contract}}</td>
                              <td>{{item.detail.devBrd}}</td>
                              <td>{{item.detail.devProposal}}</td>
                              <td>{{item.detail.devPp}}</td>
                              <td>{{item.detail.devFsd}}</td>
                              <td>{{item.detail.devDev}}</td>
                              <td>{{item.detail.devMom}}</td>
                              <td>{{item.detail.devUat}}</td>
                              <td>{{item.detail.devRtm}}</td>
                              <td>{{item.detail.devConfig}}</td>
                              <td>{{item.detail.devManual}}</td>
                              <td>{{item.detail.devBast}}</td>
                            </tr>
                          </tbody>
                        </table>
                        <table class="table table-bordered table-striped table-sm" *ngIf="item.project == 'MAINTENANCE'">
                          <thead>
                            <tr>
                              <th width="50">APP</th>
                              <th width="50">DB*</th>
                              <th width="50">[CONTRACT]</th>
                              <th width="50">[Handover]</th>
                              <th width="50">[WI]*</th>
                              <th width="50">(Issue)*</th>
                              <th width="50">(HC)*</th>
                              <th width="50">[MR]*</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>{{item.detail.app}}</td>
                              <td>{{item.detail.db}}</td>
                              <td>{{item.detail.contract}}</td>
                              <td>{{item.detail.mtcHandover}}</td>
                              <td>{{item.detail.mtcWi}}</td>
                              <td>{{item.detail.mtcIssue}}</td>
                              <td>{{item.detail.mtcHc}}</td>
                              <td>{{item.detail.mtcMr}}</td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
