<div class="app-body"  *ngIf="!isIframe">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form>
                  <h1>Login</h1>
                  <!-- <p class="text-muted">Sign In to your account</p>
                  <div class="input-group mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-user"></i></span>
                    </div>
                    <input type="text" class="form-control" [(ngModel)]="auth.email" [ngModelOptions]="{standalone: true}" placeholder="Email" autocomplete="email" required>
                  </div>
                  <div class="input-group mb-4">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="icon-lock"></i></span>
                    </div>
                    <input type="password" class="form-control" [(ngModel)]="auth.password" [ngModelOptions]="{standalone: true}" placeholder="Password" autocomplete="current-password" required>
                  </div> -->
                  <div class="row">
                      <!-- <button type="button" class="btn btn-block btn-secondary btn-lg btn-pill" (click)="signInGoogleHandler()">
                        <i class="fa fa-google fa-lg mr-3"></i>
                        Log In With Google
                      </button> -->
                      <!-- <button type="submit" class="btn btn-block btn-secondary btn-lg btn-pill" (click)="loginManual()">
                        Login
                      </button> -->
                      <button type="submit" class="btn btn-block btn-secondary btn-lg btn-pill" (click)="login()">
                        Login With Microsoft account
                      </button>
                      <!-- <div class="g-signin2" data-onsuccess="onSignIn"></div> -->
                    <!-- <div class="col-6 text-right">
                      <button type="button" class="btn btn-link px-0">Forgot password?</button>
                    </div> -->
                  </div>
                </form>
              </div>
            </div>
            <!-- <div class="card text-white bg-primary py-5 d-md-down-none" style="width:44%">
              <div class="card-body text-center">
                <div>
                  <h2>Sign up</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                  <button type="button" class="btn btn-primary active mt-3">Register Now!</button>
                </div>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
