<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-6">
      <div class="card">
          <div class="card-header">
            Audit Asana Add
            <div class="card-header-actions" style="height: 21px;" >
              <a routerLink="/audit-system/audit-asana"><button class="btn btn-success btn-sm">Back</button></a>
            </div>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="fileaudit">Source</label>
              <div class="col-md-9">
                <select class="form-control col-md-6" name="source" id="source" [(ngModel)]="source" (change)="Selectsource(source)">
                  <option value="">-- Select Source --</option>
                  <option value="byasana">By Asana</option>
                  <option value="byform">By Form</option>
                </select>
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
          </div>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="source == 'byasana'">
      <div class="card">
          <div class="card-header">
            Add By Asana <i class="spinner-border" style="width: 1rem; height: 1rem;" *ngIf="loadingIcons.listasana"></i>
          </div>
          <div class="card-body">
            <div class="form-group row">
              <table class="table">
                <thead>
                  <tr>
                    <th>workspace</th>
                    <th>project</th>
                    <th><input class="form-check-input" type="checkbox" (change)="Selectallasana(selectall)" [(ngModel)]="selectall"> Select All</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of Listfromasana">
                    <td>{{item.workspaceName}}</td>
                    <td>{{item.projectName}}</td>
                    <td><input class="form-check-input" type="checkbox" [(ngModel)]="item.selected"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-sm btn-primary" (click)="Addbyasana()"><i class="spinner-border" style="width: 1rem; height: 1rem;" *ngIf="loadingIcons.submitasana"></i> Add</button>
          </div>
      </div>
    </div>
    <div class="col-lg-6" *ngIf="source == 'byform'">
      <div class="card">
          <div class="card-header">
            Add By Form
          </div>
          <div class="card-body">
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="fileaudit">Workspace Name</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="byform.workspaceName">
              </div>
            </div>
            <div class="form-group row">
              <label class="col-md-3 col-form-label" for="fileaudit">Project Name</label>
              <div class="col-md-9">
                <input type="text" [(ngModel)]="byform.projectName">
              </div>
            </div>
          </div>
          <div class="card-footer text-right">
          </div>
      </div>
    </div>
  </div>
</div>
