<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          Audit Asana <i class="spinner-border" style="width: 1rem; height: 1rem;" *ngIf="loadingIcons.list"></i>
          <div class="card-header-actions">
            <a routerLink="/audit-system/audit-asana-add" title="Add Audit Asana"><button class="btn btn-success btn-sm" ><i class="fa fa-plus fa-lg"></i></button></a>
          </div>
        </div>
        <div class="card-body  animated fadeIn">
          <div class="row">
            <button class="btn btn-primary ml-2" *ngFor="let key of Object.keys(Listdata)" (click)="selectedWorkspace = key">{{key}}</button>
          </div>
          <div class="row mt-3">
            <table class="table">
              <thead>
                <tr>
                  <th>workspace</th>
                  <th>project</th>
                  <th>action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of Listdata[selectedWorkspace]">
                  <td>{{item.workspaceName}}</td>
                  <td>{{item.projectName}}</td>
                  <td><button class="btn btn-sm btn-primary" data-toggle="modal" (click)="largeModal.show() || selectDataview(item)">View</button></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div bsModal #largeModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-info" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title">{{dataview.projectName}}</h4>
          <button type="button" class="close" (click)="largeModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row" *ngFor="let item of dataview.dataMessage">
            <div class="col-lg-12 mb-3" style="position: relative;">
              <div class="col-lg-6" style="font-weight: 500;">
                <img src="assets/img/avatars/6.jpg" class="mr-3" style="border-radius: 50%; max-width: 100%; height: 30px;"/>{{item.username}}
              </div>
              <div class="row">
                <div class="col-lg-1">&nbsp;</div>
                <div class="col-lg-11" style="font-size: 14px;
                                              font-weight: 400;
                                              line-height: 22px;
                                              overflow-wrap: break-word;">
                    {{item.message}}
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="largeModal.hide()">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
</div>
