<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header" style="cursor: pointer;" (click)="isCollapsed = !isCollapsed">
          Audit Project Criteria
          <i [ngClass]="isCollapsed ? 'fa fa-angle-left fa-lg' : 'fa fa-angle-down fa-lg'"></i>
          <div class="card-header-actions" style="height: 21px;" *ngIf="canActive">
            <a routerLink="/audit-system/audit-project-upload" title="Upload Audit Project"><button class="btn btn-success btn-sm" ><i class="fa fa-upload fa-lg"></i></button></a>
          </div>
        </div>
        <div class="card-body  animated fadeIn" [collapse]="isCollapsed">
          <div class="row">
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="SO" [(ngModel)]="Criteria.so" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="CLIENT" [(ngModel)]="Criteria.client" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="PROJECT NAME" [(ngModel)]="Criteria.projectName" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="APPLICATION" [(ngModel)]="Criteria.application" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="YEAR" [(ngModel)]="Criteria.year" (ngModelChange)="Getbycriteria()" maxlength="4"/></div>
            <div class="col-sm-2 mb-2 ">
              <select class="form-control" [(ngModel)]="Criteria.project" (ngModelChange)="Getbycriteria()">
                <option value="" selected>-- PROJECT --</option>
                <option value="DEVELOPMENT">DEVELOPMENT</option>
                <option value="MAINTENANCE">MAINTENANCE</option>
              </select>
            </div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="MODE" [(ngModel)]="Criteria.mode" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="ORDER TYPE" [(ngModel)]="Criteria.orderType" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="STATUS" [(ngModel)]="Criteria.status" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="DEVELOPMENT" [(ngModel)]="Criteria.development" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="MAINTENANCE" [(ngModel)]="Criteria.maintenance" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="SUMMARY" [(ngModel)]="Criteria.summary" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><input type="text" class="form-control form-control-sm" placeholder="NEED TO ARCHIVE" [(ngModel)]="Criteria.needToArchive" (ngModelChange)="Getbycriteria()"/></div>
            <div class="col-sm-2 mb-2 "><button class="btn btn-danger btn-sm mr-2" (click)="Clearcriteria()">Clear</button></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12" >
      <div class="row">
        <div class="col-sm-6" *ngFor="let item of Data_audit_project; index as i;">
          <div class="card">
            <div class="card-header" style="cursor: pointer;" id="headingTwo" (click)="item.isCollapsed = !item.isCollapsed">
              <strong>{{i+1}}) {{item.projectName}}</strong>
              <div class="card-header-actions">
                <i [ngClass]="item.isCollapsed ? 'fa fa-angle-left fa-lg' : 'fa fa-angle-down fa-lg'"></i>
              </div>
            </div>
            <div class="card-body pl-0 pr-0 pt-0 animated fadeIn"
              [collapse]="item.isCollapsed"
            >
              <table class="table table-sm">
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>SO - YEAR - KPI</strong></td>
                  <td>{{item.so}} - {{item.year}} - {{ item.kpi | number : '1.2-2'}}%</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>CLIENT</strong></td>
                  <td>{{item.client}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>APPLICATION</strong></td>
                  <td>{{item.application}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>PROJECT</strong></td>
                  <td>{{item.project}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>MODE</strong></td>
                  <td>{{item.mode}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>ORDER TYPE</strong></td>
                  <td>{{item.orderType}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>STATUS</strong></td>
                  <td>{{item.status}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>DEVELOPMENT</strong></td>
                  <td>{{item.development}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>MAINTENANCE</strong></td>
                  <td>{{item.maintenance}}</td>
                </tr>
                <tr>
                  <td style="background-color: #D3D3D3;"><strong>NEED TO ARCHIVE</strong></td>
                  <td>{{item.needToArchive}}</td>
                </tr>
              </table>
              <div class="col-sm-12">
                {{item.summary}}
              </div>
              <div class="table-responsive text-center mt-3" *ngIf="item.show_detail">
                <table class="table table-bordered table-lg" *ngIf="item.project == 'DEVELOPMENT'">
                  <thead>
                    <tr>
                      <th width="50">APP</th>
                      <th width="50">DB*</th>
                      <th width="50">[CONTRACT]</th>
                      <th width="50">[BRD]</th>
                      <th width="50">[Proposal]</th>
                      <th width="50">[PP]</th>
                      <th width="50">[FSD]*</th>
                      <th width="50">[DEV]*</th>
                      <th width="50">[MoM]</th>
                      <th width="50">(UAT)*</th>
                      <th width="50">(RTM)</th>
                      <th width="50">[Config]*</th>
                      <th width="50">[Manual]</th>
                      <th width="50">[BAST]*</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span [ngClass]="item.detail.app === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.app === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.db === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.db === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.contract === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.contract === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devBrd === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devBrd === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devProposal === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devProposal === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devPp === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devPp === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devFsd === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devFsd === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devDev === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devDev === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devMom === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devMom === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devUat === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devUat === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devRtm === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devRtm === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devConfig === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devConfig === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devManual === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devManual === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.devBast === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.devBast === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                    </tr>
                  </tbody>
                </table>
                <table class="table table-bordered table-lg" *ngIf="item.project == 'MAINTENANCE'">
                  <thead>
                    <tr>
                      <th width="50">APP</th>
                      <th width="50">DB*</th>
                      <th width="50">[CONTRACT]</th>
                      <th width="50">[Handover]</th>
                      <th width="50">[WI]*</th>
                      <th width="50">(Issue)*</th>
                      <th width="50">(HC)*</th>
                      <th width="50">[MR]*</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td><span [ngClass]="item.detail.app === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.app === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.db === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.db === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.contract === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.contract === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.mtcHandover === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.mtcHandover === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.mtcWi === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.mtcWi === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.mtcIssue === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.mtcIssue === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.mtcHc === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.mtcHc === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                      <td><span [ngClass]="item.detail.mtcMr === true ? 'btn badge badge-success' : 'btn badge badge-danger'"><i [ngClass]="item.detail.mtcMr === true ? 'fa fa-check fa-lg' : 'fa fa-close fa-lg'"></i></span></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer text-right animated fadeIn"
              [collapse]="item.isCollapsed"
            >
              <button [ngClass]="item.show_detail ? 'btn btn-success btn-sm' : 'btn btn-info btn-sm'" (click)="Showdetail(item)">{{item.show_detail ? "close" : "Detail"}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12 text-center mb-3">
      <button class="btn btn-sm btn-info" (click)="Loadmore()" *ngIf="!showAll">Load More</button>
      <button class="btn btn-sm btn-info" (click)="Showalldata()">{{!showAll ? "Show All" : "Show Less"}}</button>
    </div>
  </div>
</div>
