<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-4">
      <div class="card">
        <form [formGroup]="uploadForm" (ngSubmit)="Uploadaudit()">
          <div class="card-header">
            Audit Project Upload
            <div class="card-header-actions" style="height: 21px;" >
              <a routerLink="/audit-system/audit-project"><button class="btn btn-success btn-sm">Back</button></a>
            </div>
          </div>
          <div class="card-body">
              <div class="form-group row">
                <label class="col-md-3 col-form-label" for="fileaudit">File input *</label>
                <div class="col-md-9">
                  <input type="file" name="fileaudit" (change)="onFileSelect($event)" />
                </div>
              </div>
          </div>
          <div class="card-footer text-right">
            <button type="submit" class="btn btn-sm btn-primary"><i [ngClass]="loadingIcons ? 'spinner-border text-muted' : 'fa fa-dot-circle-o'"></i> Submit</button>
            <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
